<body>
<div class="htmleaf-container">
  <div class="cont_principal">
    <div class="cont_join ">
      <div class="cont_letras">
        <p>JOIN</p>
        <p>US</p>
        <p>NOW!</p>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: { class: "cont_form_join",id:"sign_up_form" }) do |f| %>
          <h2>JOIN</h2>
          <%= devise_error_messages! %>
          <p>用户名:</p>
          <%= f.text_field :username, autofocus: true ,class:"input_text"%>
          <p>邮箱:</p>
          <%= f.email_field :email,class:"input_text"%>
          <p>密码:</p>
          <%= f.password_field :password,class:"input_text"%>
          <p>确认密码:</p>
          <%= f.password_field :password_confirmation, autocomplete: "off" ,class:"input_text"%>
      <%end%>
      <div class="cont_btn_join">
        <a href="#" onclick='join_1()'>JOIN</a>
      </div>
    </div>
  </div>
</div>

</body>
