<body class="sign-in-c">
  <div class="htmleaf-container">
    <div class="signin">
      <%= content_tag :div,(image_tag "head_120.jpg",class:"img-circle"),class:"signin-head" %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),html: { class: "form-signin" }) do |f| %>
          <%= f.text_field :username, autofocus: true ,class:"form-control",placeholder:"用户名" %>
          <%= f.password_field :password, autocomplete: "off" ,class:"form-control",placeholder:"密码" %>
          <%= f.submit "登录", class:"btn btn-lg btn-warning btn-block"%><br />
          <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %> 记住我
              <%= link_to "Forgot your password?", new_password_path(resource_name),class:"forgot-password" %>
          <% end -%>
      <%end%>
    </div>
  </div>
</body>